@using ProductManager.Models;
@model List<Producto>
@{
    Layout = "../Shared/_Layout.cshtml";
}

<main>
    <section id="opciones" class="mb-2">
        <h2>Lista de productos</h2>
        @Html.ActionLink("Agregar Producto", "Agregar", "Productos", new
        {
            @class = "btn btn-primary mb-2"
        })
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-@TempData["TipoMensaje"] alert-dismissible fade show" role="alert">
                @TempData["Mensaje"]

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert">
                </button>
            </div>
        }
    </section>

    @if (!Model.Any())
    {
        <div class="alert alert-info">
            No existen productos registrados.
        </div>
    }
    else
    {
        <div class="table-responsive">

            <table class="table table-striped table-hover align-middle">

                <thead class="table-dark">
                    <tr>
                        <th>SKU</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var producto in Model)
                    {
                        <tr>
                            <td>@producto.SKU</td>
                            <td>@producto.Nombre</td>
                            <td>@producto.Precio.ToString("C", new System.Globalization.CultureInfo("es-CR"))</td>

                            <td class="text-center">

                                <button class="btn btn-sm btn-outline-primary btnDetalle"
                                        data-sku="@producto.SKU">
                                    Ver
                                </button>

                                <button type="button"
                                        class="btn btn-sm btn-outline-danger btnEliminar"
                                        data-sku="@producto.SKU"
                                        data-nombre="@producto.Nombre">
                                    Eliminar
                                </button>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    }


</main>

<!-- MODAL DETALLE PRODUCTO -->
<div class="modal fade" id="modalProducto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">

        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Detalle del Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-6">
                        <p><strong>SKU:</strong> <span id="sku"></span></p>
                        <p><strong>Nombre:</strong> <span id="nombre"></span></p>
                        <p><strong>Categoría:</strong> <span id="categoria"></span></p>
                    </div>

                    <div class="col-md-6">
                        <p><strong>Precio:</strong> <span id="precio"></span></p>
                        <p><strong>Inventario:</strong> <span id="inventario"></span></p>
                    </div>

                </div>

                <hr />

                <p><strong>Descripción:</strong></p>
                <p id="descripcion"></p>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>

    </div>
</div>

<!-- MODAL ELIMINAR PRODUCTO -->

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="tituloEliminar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="tituloEliminar">
                    Confirmar eliminación
                </h5>

                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">

                <p>¿Está seguro de que desea eliminar el siguiente producto?</p>

                <div class="alert alert-warning mb-0">
                    <strong id="nombreProducto"></strong>
                </div>

            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>
                <input type="hidden"
                       id="skuEliminar"
                       name="sku" />

                <button type="button"
                        class="btn btn-danger"
                        id="btnConfirmarEliminar">
                    Sí, eliminar
                </button>
            </div>

        </div>

    </div>
</div>



@section Scripts {

    <script>
        $(document).on("click", ".btnDetalle", function () {

            var sku = $(this).data("sku");

            $.ajax({
                url: '/Productos/Obtener',
                type: 'GET',
                data: { sku: sku },
                success: function (data) {

                    $("#sku").text(data.SKU);
                    $("#nombre").text(data.Nombre);
                    $("#categoria").text(data.CategoriaNombre);
                    $("#precio").text(data.Precio);
                    $("#inventario").text(data.Inventario);
                    $("#descripcion").text(data.Descripcion);

                    var modal = new bootstrap.Modal(document.getElementById('modalProducto'));
                    modal.show();
                },
                error: function () {
                    alert("Error al cargar el producto");
                }
            });

        });

        $("#btnConfirmarEliminar").click(function () {

            var sku = $("#skuEliminar").val();

            $.ajax({
                url: '/Productos/Eliminar?sku=' + encodeURIComponent(sku),
                type: 'DELETE',
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Ocurrió un error al eliminar el producto.");
                }
            });

        });

        $(".btnEliminar").click(function () {
            var modal = new bootstrap.Modal(document.getElementById('modalEliminar'));


            var sku = $(this).data("sku")
            var nombre = $(this).data("nombre")

            $("#nombreProducto").text(nombre);

            $("#skuEliminar").val(sku);

            modal.show();
        });
    </script>

}